<div class="wrapper content-title-desc">
  <div class="feature-row">
    <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }}">
      <div class="copy-container">
        {% if section.settings.title != blank %}
          <h2>{{ section.settings.title | escape }}</h2>
        {% endif %}
        {% if section.settings.subtitle != blank %}
          <p class="subtitle">{{ section.settings.subtitle | escape }}</p>
        {% endif %}
        {% if section.settings.text != blank %}
          <div class="rte featured-row__subtext">{{ section.settings.text }}</div>
        {% endif %}
        {% if section.settings.button_label != blank and section.settings.button_link != blank %}
          <a href="{{ section.settings.button_link }}" class="btn">
            {{ section.settings.button_label | escape }}
          </a>
        {% endif %}
        {% if section.settings.textstuff != blank %}
          <div class="below-button-text">{{ section.settings.textstuff }}</div>
        {% endif %}
      </div>
    </div>

    {%- assign img_url = section.settings.imageSection | img_url: '1x1' | replace: '_1x1.' -%}
    <div class="img-container">
      <img class="moto-section-img" src="{{ section.settings.imageSection | img_url: '900x900' }}"
         data-src="{{ img_url }}"
         alt="test">
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Heading + Copy + image",
    "settings": [
      {
        "type": "image_picker",
        "id": "imageSection",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Sub Heading",
        "default": "Lorem Ipsum Dolor Sit"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "richtext",
        "id": "textstuff",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Heading & Copy & Image",
        "category": "Content"
      }
    ]
  }
{% endschema %}
