<section class="how-it-works">
  <div class="wrapper">
		<div class="steps">
      {% if section.settings.title != blank %}
        <h2>{{ section.settings.title | escape }}</h2>
      {% endif %}
      <div class="col-3">
      	{% for block in section.blocks %}
      		{%- assign img_url = block.settings.stepImage | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
	      	<div class="inner-col">
            <div class="img-container">
							<img src="{{ block.settings.stepImage | img_url: '300x300' }}"
                 data-src="{{ img_url }}"
                 alt="test">
            </div>
            <p class="text-heading">{{ block.settings.randomstuff | escape }}</p>
            <p>{{ block.settings.info-desc | escape }}</p>
            {% comment %}<div class="subtitle">{{ block.settings.stepText | escape }}</div>{% endcomment %}
			    </div>
				{% endfor %}
	    </div>
	  </div>
    {% if section.settings.button_label != blank and section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}" class="btn">
        {{ section.settings.button_label | escape }}
      </a>
    {% endif %}
  </div>
</section>
{% schema %}
  {
    "name": "How it works",
    "max_blocks": 3,
    "settings": [
      {
        "type": "text",
        "id": "subtitle",
        "label": "Tagline"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Heading"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "text",
        "id": "randomstuff",
        "label": "Step Text",
        "default": "Text stuff"
      },
      {
        "type": "textarea",
        "id": "info-desc",
        "label": "Description",
        "default": "Description"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Steps",
        "settings": [
          {
		        "type": "image_picker",
		        "id": "stepImage",
		        "label": "Step Graphic"
		      },
		      {
		        "type": "textarea",
		        "id": "randomstuff",
		        "label": "Step Text",
		        "default": "Text stuff"
		      }
        ]
      }
    ],
    "presets": [
      {
        "name": "How it works",
        "category": "Text"
      }
    ]
  }
{% endschema %}
