
<div class="section-header">
  <div class="wrapper">
    <h1 class="section-header--title">{{ page.title }}</h1>
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div>
<section class="help-copy">
  {% section 'content-title-desc' %}
</section>
<section class="contact">
  <div class="wrapper">
    {% section 'contact-methods' %}
  </div>
</section>
<section class="map-form-container">
  <div class="wrapper">
    <h2>Or Send us a Note</h2>
    <p>Send us a message through the contact form</p>
  {% form 'contact' %}
    {% if form.posted_successfully? %}
      <p class="note form-success">
        {{ 'contact.form.post_success' | t }}
      </p>
    {% endif %}

    {{ form.errors | default_errors }}

    {% assign name_attr = 'contact.form.name' | t | handle %}
    <label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }}</label>
    <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

    <label for="ContactFormMessage" class="label--hidden">{{ 'contact.form.message' | t }}</label>
    <textarea rows="10" id="ContactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

    <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">

  {% endform %}
  </div>
</div>
